{% extends 'base.html' %}
{% block content %}

<h1> this page for reviews </h1>



<div class="user_address">
    <br>
  <td>{{ shop.name }}<br>&nbsp;
    {{ shop.streetNumber }} <br> &nbsp;
    {{ shop.streetName }} <br> &nbsp;
    {{ shop.municipality }} <br> &nbsp;
    {{ shop.countrySubdivision }} </td>
    </div>
    <div class="website">
      <br>
  <td>{{ shop.website }}</td> &nbsp; &nbsp;
  </div>
  <div class="phone">
    <br>
  <td>{{ shop.phone }}</td>
  </div>
  </tr>
 </tbody>
</table>

{% if shop.review_set.all.count %}
    {% for review in shop.review_set.all %}
     <h1>{{ review.review }}</h1>
      {% endfor %}
      {% else %}
     <h1>
        Write A Review
     </h1>
      {% endif %}


<form action="{% url 'add_review' shop.shopId %}" method="POST">
    {% csrf_token %}
    {{ review_form.as_p }}
    <button class="btn" type="submit">Add Review</button>
  </form>


  <div class="card-action">
    <a href="">Edit</a>
    <a href="">Delete</a>
  </div>




{% endblock %}
