{% extends 'base.html' %}
{% block content %}

<h1 class="shop_title">Music Shop Locator</h1>
<hr />



<br>
<br>
<br>
<br>
<form action="{% url 'locator' %}" method="POST" id="form1">
  {% csrf_token %}
  <label for="name" class="address_search">&nbsp;Address</label><br><br>
  <textarea id="title" name="query-address" rows="4" cols="50"placeholder="123 State Farm Plaza Bloomington, Il 61710"></textarea> <br>
  <button type="submit" form="form1" class="btn btn-success" id="submit-new">Submit</button>
</form>
<br>

{% for shop in location %}

  <table class="rwd-table">
    <thead>
      <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Website</th>
      <th>Phone</th>
    </tr>
    </thead>
     <tbody>
    <tr>
      <br>
      <td>
      <form action="{% url 'detail' shop.id  %}"  method="POST" id="form2">
        {% csrf_token %}
        <input type="hidden" value="{{ shop.id }}" name="shopId" />
        <input type="hidden" value="{{ shop.poi.name }}" name="name" /> 
        <input type="hidden" value="{{ shop.address.streetNumber }}" name="streetNumber" /> 
        <input type="hidden" value="{{ shop.address.streetName }}" name="streetName" /> 
        <input type="hidden" value="{{ shop.address.municipality }}" name="municipality" /> 
        <input type="hidden" value="{{ shop.address.countrySubdivision }}" name="countrySubdivision" />
        <input type="hidden" value="{{ shop.poi.url }}" name="website" /> 
        <input type="hidden" value="{{ shop.poi.phone }}" name="phone" />  
        <input type="hidden" value="{{ shop.address.freeformAddress }}" name="freeformAddress" />  
      
    <button type="submit" class="business">{{ shop.poi.name }}</button></form></td>&nbsp;

    <div class="user_address">
      <br>
    <td>{{ shop.address.streetNumber }} <br> &nbsp;
      {{ shop.address.streetName }} <br> &nbsp;
      {{ shop.address.municipality }} <br> &nbsp;
      {{ shop.address.countrySubdivision }} </td>
      </div>
      <div class="website">
        <br>
    <td>{{ shop.poi.url }}</td> &nbsp; &nbsp;
    </div>
    <div class="phone">
      <br>
    <td>{{ shop.poi.phone }}</td>
    </div>
    </tr>
   </tbody>
  </table>
</div>
</div>

{% endfor %}

{% endblock %}
